<ion-header>
  <ion-toolbar>
    <ion-title>
      Articles
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <!-- Removable Card ***  -->

  <ion-card class="welcome-card" style="display: none;" id="welcomeCard">
    <ion-card-header>
      <ion-card-subtitle>Get Started
        <ion-icon name="close" class="pull-right closeIcon" (click)="closeWelcomeCard()"></ion-icon>
      </ion-card-subtitle>
      <ion-card-title>Welcome to Ionic</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p>
        <a href="/about">About</a>
      </p>
    </ion-card-content>
  </ion-card>

  <ion-grid>
    <ion-col *ngFor="let category of categories" [ngClass]="{'active': categories.indexOf(category) === catstatus}">{{category}}</ion-col>
  </ion-grid>
  {{currentTopis}}

  <!-- *** Removable Card -->

  <ion-card *ngFor="let article of articlesList" routerLink="/article-details" (click)="shootData(article)" swipeAll (swipe)="swipeEvent($event)">
    <ion-card-header>
      <ion-card-subtitle>{{article.author}}</ion-card-subtitle>
      <ion-card-title>{{article.title}}</ion-card-title>
    </ion-card-header>      
    <ion-card-content>
      <img src="{{article.urlToImage}}">
      <p>{{article.title}}</p>
    </ion-card-content>
  </ion-card> 



  

</ion-content>