<ion-header>
  <ion-toolbar>
    <ion-title>
      Articles
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <!-- Removable Card ***  -->

  <ion-card class="welcome-card" style="display: none;" id="welcomeCard">
    <ion-card-header>
      <ion-card-subtitle>Get Started
        <ion-icon name="close" class="pull-right closeIcon" (click)="closeWelcomeCard()"></ion-icon>
      </ion-card-subtitle>
      <ion-card-title>Welcome to Ionic</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p>
        <a href="/about">About</a>
        <ion-buttons slot="start">
          <ion-menu-button autoHide="false"></ion-menu-button>
        </ion-buttons>
      </p>
    </ion-card-content>
  </ion-card>

  <!-- <ion-grid>
    <ion-col *ngFor="let category of categories" [ngClass]="{'active': categories.indexOf(category) === catstatus}">{{category}}</ion-col>
  </ion-grid> -->

  <!-- *** Removable Card -->

  <ion-card *ngFor="let article of articlesList" routerLink="/article-details">
    <ion-card-header>
      <ion-card-subtitle class="author">{{article.author}}</ion-card-subtitle>
      <ion-card-title class="articleTitle">{{article.title}}</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <img class="thumbnail" src="{{article.urlToImage}}">
      <p>{{article.description}}</p>
      <p class="author" style="margin: 10px 0 0px 0;">Last Updated: {{article.publishedAt | date}}</p>
    </ion-card-content>
  </ion-card>





</ion-content>