<ion-header>
  <ion-toolbar>
    <ion-title>article-details
      <div class="pull-right"><ion-icon name="arrow-round-back" (click)="goBack()"></ion-icon></div>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card-header>
    <ion-card-subtitle>{{message.author}}</ion-card-subtitle>
    <ion-card-title>{{message.title}}</ion-card-title>
  </ion-card-header>

  <ion-card-content>
    <img src="{{message.urlToImage}}">
    <p>{{message.title}}</p>
    <p>{{message.content}}</p>
  </ion-card-content>
</ion-content>
